<div style="text-align:center">
  <h1>
   {{ title }}!
  </h1>
</div> 
  <!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-none d-lg-flex align-items-center fixed-top">
    <div class="container d-flex">
      <div class="contact-info mr-auto">
        <i class="icofont-envelope"></i> <a href="mailto:contact@example.com">sales@simpleai.in</a>
        <i class="icofont-phone"></i> +0 0000 00000 00
      </div>
      <div class="social-links">
        <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
        <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
        <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
        <a href="#" class="skype"><i class="icofont-skype"></i></a>
        <a href="#" class="linkedin"><i class="icofont-linkedin"></i></a>
      </div>
    </div>
  </div>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="index.html">simpleai.in</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="index.html">Home</a></li>
          <!--<li><a href="#about">About</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#team">Team</a></li>
          <li class="drop-down"><a href="">Drop Down</a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="drop-down"><a href="#">Deep Drop Down</a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li>
          <li><a href="#contact">Contact</a></li>-->

        </ul>
      </nav><!-- .nav-menu -->

      <a href="#about" class="get-started-btn scrollto">Get Started</a>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(assets/img/slide/slide-1.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Simple AI <span>Making AI Simpler for Everyone</span></h2>
              <p class="animate__animated animate__fadeInUp">We build industry agnostic AI platform capabilities for Enterprises and SMBs to enable smooth digital adoption.</p>
              <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url(assets/img/slide/slide-2.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Simple AI <span>Making AI Simpler for Everyone</span></h2>
              <p class="animate__animated animate__fadeInUp">We build industry agnostic AI platform capabilities for Enterprises and SMBs to enable smooth digital adoption.</p>
              <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url(assets/img/slide/slide-3.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Simple AI <span>Making AI Simpler for Everyone</span></h2>
              <p class="animate__animated animate__fadeInUp">We build industry agnostic AI platform capabilities for Enterprises and SMBs to enable smooth digital adoption.</p>
              <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
            </div>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon icofont-simple-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon icofont-simple-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

    </div>
  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>Our Platform Capabilities</h2>          
          
        </div>
      </div>
    </section>
    <section id="about" class="about" style="background-color: #f0fff4;">
      <div class="container">

        <div class="row" >
          <h3>Converse</h3>
            <p class="description">
              Converse is an intelligent Conversational AI, which can understand a customer’s questions, and deliver answers in any language, without explicitly selecting the language. Customers can respond via voice or text inputs to Converse in any language of their choice.
            </p>
            <p class="description">Converse’s capabilities fits into contact center use cases including critical scenarios, reducing the need for live agents. Converse can work with businesses where the customer and questions inflows are high (high meaning more than 1000 questions a day).</p>
          <div class="col-lg-6 order-1 order-lg-2">
            <img src="assets/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            
            <ul>
              <li><i class="icofont-check-circled"></i> FAQ</li>
              <li><i class="icofont-check-circled"></i> Recruitment</li>
              <li><i class="icofont-check-circled"></i> Inter and Intra Department Usage.</li>
              <li><i class="icofont-check-circled"></i>Customer Onboarding</li>
              <li><i class="icofont-check-circled"></i>KYC Verification</li><li><i class="icofont-check-circled"></i>Complaint Registration</li><li><i class="icofont-check-circled"></i>Review Management</li><li><i class="icofont-check-circled"></i>Analytics</li><li><i class="icofont-check-circled"></i>Converting Natural Language to SQL Queries</li><li><i class="icofont-check-circled"></i>And Many More&#8230;</li>
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->
    <section id="about" class="about" >
      <div class="container">
        <div class="row">
          <h3>A-Eye</h3>
            <p class="description">
              A-Eye stands out with its object detection capability where it does not rely on document formats, but it looks for specific objects or entities within the document, while using NLP (Natural Language Processing)techniques to understand the written text, and detect the languages relying on Simple AI’s Converse engine.
            </p>
            <p class="description">This eliminates the need to train the underlying OCR with document formats, and build 10x scalability for immediate consumption of A-Eye’s capabilities. Combining Simple AI’s platform capabilities, A-Eye can deliver 99.99% accuracy irrespective of industry or document differentiation</p>
          
          <div class="col-lg-12 pt-4 pt-lg-0 order-2 order-lg-1 content">
            
            <ul>
              <li><i class="icofont-check-circled"></i> EKYC</li>
              <li><i class="icofont-check-circled"></i> Contract Management</li>
              <li><i class="icofont-check-circled"></i> Claims and Underwriting</li>
              <li><i class="icofont-check-circled"></i>Manufacturing and Supply Chain</li>
              <li><i class="icofont-check-circled"></i>Digital services to Citizens</li><li><i class="icofont-check-circled"></i>Healthcare – Medico Legal Use Cases</li>
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->
    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us" style="background-color: #f0fff4;">
      <div class="container">
        <div class="section-title">
          <h2>Solutions Offerings</h2>
          
        </div>
        <div class="row no-gutters">

          <div class="col-lg-4 col-md-6 content-item">
            <span>01</span>
            <h4>PREDICTIVE ANALYTICS</h4>
            <p>Eliminate guess work and predict the future of your business. The algorithm works with the present and past data, to figure out upcoming changes in market</p>
          </div>

          <div class="col-lg-4 col-md-6 content-item">
            <span>02</span>
            <h4>CUSTOMER ANALYTICS</h4>
            <p>Automate customer service and extract insights & meaningful information for analyzing consumer behavior.</p>
          </div>

          <div class="col-lg-4 col-md-6 content-item">
            <span>03</span>
            <h4> ANOMALY DETECTION</h4>
            <p>Distinguish irregular and abnormal behavior to detect fraud, data break, glitches and other malfunction</p>
          </div>

          <div class="col-lg-4 col-md-6 content-item">
            <span>04</span>
            <h4>COMPUTER VISION</h4>
            <p>High level understanding of visual content with a capability to extract information, face recognisation, biometrics , AR and other use cases</p>
          </div>

          <div class="col-lg-4 col-md-6 content-item">
            <span>05</span>
            <h4>TIME SERIES FORECASTING</h4>
            <p>Analyzing competitors and market to predicts the future trend in order to formulate strategy and pricing</p>
          </div>

          <div class="col-lg-4 col-md-6 content-item">
            <span>06</span>
            <h4>RECOMMENDER SYSTEM</h4>
            <p>Recommend your users the most relevant content from analyzing personalized customer experience. Know your audience and build relationship.</p>
          </div>
          <div class="col-lg-4 col-md-6 content-item">
            <span>07</span>
            <h4>NATURAL LANGUAGE PROCESSING</h4>
            <p>Analyze sentiment, behavior and language for customer segmentation and personalization.</p>
          </div>

        </div>

      </div>
    </section><!-- End Why Us Section -->

    

    

    

   

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
         
        </div>

        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Location:</h4>
                <p></p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>sales@simpleai.in</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Call:</h4>
                <p>+0 0000 00000 00</p>
              </div>

              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" data-rule="required" data-msg="Please write something for us"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>Simple AI</h3>
      <p>Making AI Simpler for Everyone</p>
      <div class="social-links">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>Simple AI </span></strong>. Cognitive Labs Pvt Ltd
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/green-free-one-page-bootstrap-template/ -->
       <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>-->
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>


<div class="container">
  <button mat-raised-button (click)="openDialog()"  class="Chat-icon" id="chatbot" data-toggle="modal" data-target="#ChatBot" data-backdrop="false" data-keyboard="false"></button>
</div>

